/* globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Georgia", serif;
  background-color: #f3f4f6;
  color: #2d3748;
}

h1, h2, h3 {
  font-family: "Amiri", serif;
}

button {
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #38b2ac;
}
